/*
--text: #0a0d10;
--background: #fcfdfd;
--primary: #43476b;
--secondary: #c9c0d8;
--accent: #4804b6;
*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.icon:hover {
    transform: scale(1.1);
}

.categoryText:hover {
    color:#fafafa;
}

.categoryText {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #0a0d10;
}


header {
    background-color: #fcfdfd;
    color: #fcfdfd;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav li {
    margin: 0 10px;
}


.category-box {
    background-color: #f8f4ff;
    border-radius: 3px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 5px 0px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #0a0d10;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.category-box:hover {
    background-color: #43476b;
    color: #fafafa;
}