/*
--text: #0a0d10;
--background: #fcfdfd;
--primary: #43476b;
--secondary: #c9c0d8;
--accent: #4804b6;
*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fcfdfd;
    color: #fcfdfd;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

.category-box {
    background-color: #43476b;
    border-radius: 3px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 19px 0px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: #fff3f3;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.category-box:hover {
    background-color: #c9c0d8;
    color: #0a0d10;
}